@use '../../../../styles/base/variable' as var;
@use '../../../../styles/mixins/flex' as f;
@use '../../../../styles/mixins/breakpoint' as bp;

.infoListContainer {
    @include f.flex(row, center, center, 0);
    margin: 80px 0px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;

    .infoList {
        display: grid;
        grid-template-columns: repeat(3, 1fr); // 기본적으로 3열
        gap: 50px; // 아이템 간의 간격 추가
        width: 100%;
        max-width: 1000px;

        @include bp.desktop {
            grid-template-columns: repeat(2, 1fr); // 작은 화면에서는 2열
        }

        @include bp.tablet {
            grid-template-columns: repeat(1, 1fr); // 매우 작은 화면에서는 1열
            gap: 24px;
        }
    }
}
