@use '../../../../../styles/base/variable' as var;
@use '../../../../../styles/mixins/flex' as f;

.container {
    display: flex;
    height: 100vh;

    .sidebar {
        @include f.flex(column, start, end, 0);
        width: 250px;
        background-color: var.$black-400;
        padding: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        
        .logo {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
            margin-bottom: 40px;
        }
        
        .navlist {
            @include f.flex(column, center, center, 0);
            gap: 40px;
            list-style: none;
            width: 100%;
            font-size: var.$h1;
            font-weight: bold;
        
            .navitem {
                @include f.flex(column, center, center, 0);
                margin-left: 50px;
                border-radius: 30px 0 0 30px;
                width: 200px;
                height: 60px;
                background-color: white;
                
                a {
                    @include f.flex(column, center, center, 0);
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: inherit;
                }
            }
        }

        .sns {
            margin-top: auto; // This pushes the SnsLogoList to the bottom
        }
    }
    
    
    .content {
        flex: 1;
        overflow-y: auto;
    }
}
