@use '../../../../../styles/base/variable' as var;
@use '../../../../../styles/mixins/flex' as f;

.snsLogoListContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
}