@use '../../../../styles/base/variable' as var;
@use '../../../../styles/mixins/flex' as f;
@use '../../../../styles/mixins/breakpoint' as bp;

.titleContainer {
    @include f.flex(column, center, center, 0);
    margin: 30px 0px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    .title{
        font-size: 8rem;
        font-weight: var.$fw-600;
        color: var.$black-600;

        @include bp.desktop {
            font-size: 6rem;
        }

        @include bp.tablet {
            font-size: 4.4rem;
        }

        @include bp.mobile {
            font-size: 3.2rem;
        }
    }
}
