@use '../base/variable' as var;

@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: var.$white;
	font-size: 10px;
	font-weight: normal;
	position: relative;
	max-width: 100vw;
	overflow-x: hidden;
}

// font
body,
button,
input,
textarea {
	font-family: 'S-CoreDream-3Light';
	font-size: 10px;
	color: var.$black-500;
	line-height: normal;
	font-feature-settings: 'tnum';
	-webkit-tap-highlight-color: transparent; // 눌렀을 때 파란 배경 제거
}