@use '../../../../styles/base/variable' as var;
@use '../../../../styles/mixins/flex' as f;

.moveDetail {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: var.$h2;
    border: none;
    @include f.flex(column, center, center, 0);
}