@use '../../../../styles/base/variable' as var;
@use '../../../../styles/mixins/flex' as f;

.slideButton {
    @include f.flex(row, center, center, 0);
    width: 40px;
    height: 40px;

    p {
        font-size: var.$p0;
        font-weight: bold;
    }
}

.isActive {
    // 선택된 버튼 스타일
    background-color: #0070f3;
    color: white;
    border-color: #0070f3;
}